.headerForm{
    text-align: center;
    padding-bottom: 5px;
    font-size: 40px;
    color: white;
}
.groupForm{
    text-align: center;
    margin: 20px auto;
    width: 330px;
    background-color: #FF8C00;
}
input{
    padding: 10px;
    font-size: inherit;
}
input[type="text"]{
    display: block;
    width:97%;
    margin-left: 5px;
    border: 1px solid grey;
}
input[type="Submit"]{
    display: block;
    width: 75%;
    margin-left: 40px;
    border: 2px solid grey;
    background: white;
    color: black;
}
.GroupRegBTN{
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: grey;
  border: 1px solid #FF8C00;
  padding: 2px;
  margin-bottom: 1%;
}
