{% extends "layout.html" %}
{% block content %}
<img class="logokarm" src="static/logokarm.png" alt="Logo"  height="150" width="520">
<div class="text">
<p>Have you ever faced a struggle in life when trying to accomplish a task or do you know someone who needs a little help
then look no further, Karma is a website for its users who need that extra little help. we are here to support everybody that is
Disabled, suffer from log term sickness, or generally struggle with the daily tasks in and arround a users home. We can do </p>
<br>
<ul class="job">
<li>Around the house jobs</li>
<li>Around the garden jobs</li>
<li>Social Visits</li>
<li>Social outings</li>
<li>Pet car jobs</li>
<li>Social transportation</li>
<li>Technology Lessons</li>
<li>General errands</li>
</ul>
</div>
{% endblock %}
